
{% extends "__base__.html" %}


{% load static %}
{% block cssimport %}{% endblock cssimport%}
    {% block content %}
    <!-- Section 1 -->
    <section class="text-center sec1" style="min-height: 150vh;">

      <main class="container" >
        <div class="text-center py-5 px-3">
          <br />
          <h1>Computer Science and Engineering Club CSEC</h1>
          <p class="lead">
            Having <code>Competitive Programing, </code>
            <code>Software Development</code> and
            <code>Capacity Building</code> Division in it. <br />
            All together makes it <b><code>CSEC-ASTU</code></b>
          </p>
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card h-100" style="background-color: #eee2d8;">
                <img src="{% static 'img/csecastu.jpg' %}" class="card-img-top img-fluid " alt="...">
                <div class="card-body">
                  <h5 class="card-title">CSEC-ASTU</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100" style="background-color: #eee2d8;">
                <img src="{% static 'img/cseclogo.jpg' %}" class=" mx-auto card-img-top  img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CSEC-ASTU</h5>
                </div>
              </div>
            </div>
          </div>
        </div>


      </main>
    </section>
    <!-- /.container -->
    <!-- Section 1 ends -->

    <!-- Showcase CPD section  2 -->
    <section
      class="text-center sec2"
      style="background-color: #dcd7d3; min-height: 100vh; align-items: center"
    >
      <main class="container">
        <div class="starter-template text-center py-5 px-3">
          <h1><code>Competitive Programming </code></h1>
          <p class="lead">
           Recent Activities
          </p>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="{% static 'img/showcase1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ETHCPC Training</h5>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'img/showcase2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ETHCPC Training</h5>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'img/showcase3.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ETHCPC Training</h5>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
                </div>
              </div>
            </div>
          </div>    
        </div>
      </main>
    </section>
    <!-- Competitive programming showcase ends section 2 -->
    
    <!-- Showcase Development section 3 -->
    <section class="text-center sec3" style="min-height: 100vh; background-color: #ebece7;">
      <main class="container" >
        <div class="text-center py-5 px-3">
          <h1> <code>Development Division</code></h1>
          <p class="lead">
            Developing Software products. one of the few framework that we use 
          </p>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'logos/Laravel.svg' %}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Laravel</h5>
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
                <!-- <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div> -->
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <br>
                <br>
                <img src="{% static 'logos/django-community.svg' %}" style="margin-top: 70px" class=" mx-auto card-img-top  img-fluid" alt="...">
                <!-- <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div> -->
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'logos/flutter.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Flutter</h5>
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
                </div>
                <!-- <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div> -->
              </div>
            </div>
          </div>
            
          </div>  
        </div>


      </main>
    </section>
    
    <!-- Showcase Capacity Building section 4 -->
    <section class="text-center sec3" style="min-height: 100vh; background-color: #E8DBC3;">
      <main class="container" >
        <div class="text-center py-5 px-3">
          <h1> <code>Capacity Building Division</code></h1>
          <p class="lead">
            Developing Software products. one of the few framework that we use 
          </p>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100" style="background-color: #f0e6d3;">
                <img src="{% static 'img/trainignethcpc.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Trainign Session </h5>
                  <p>2020 ETCPC Training / Practice time for 2020 ETHCPC Contest </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100" style="background-color: #f0e6d3;">
                <img src="{% static 'img/training2.jpg' %}" class=" mx-auto card-img-top  img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ETHCPC Training Session</h5>
                  <p>Training member for 2020 ETHCPC Contest</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100" style="background-color: #f0e6d3;">
                <img src="{% static 'img/seminar.jpg' %}"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Seminar</h5>
                  <p>weekly Seminar time for ASTU community </p>
                </div>
              </div>
            </div>
          </div>
            
          </div>  
        </div>
      </main>
    </section>
      {% endblock %}

   