{% load static %}
<div class="container">
  <nav
    class="navbar navbar-expand-md navbar-light fixed-top"
    style="background-color: #eeebdf; margin-bottom: 1vh;"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CSEC</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'index' %}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'events' %}">Events</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown01"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Divisions</a
            >
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li>
                <a class="dropdown-item" href="#">Competitive Programming</a>
              </li>
              <li><a class="dropdown-item" href="#">Development</a></li>
              <li>
                <a class="dropdown-item" href="#">Capacity Building</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <!-- <div class=" navbar-collapse" id="navbar-list-4">
          <ul class="navbar-nav"> -->
        <div class="nav-item dropdown" style="margin-right: 70px;">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown02"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="{{ user.profile.url }}"
              width="40"
              height="40"
              class="rounded-circle"
            />
          </a> 
          <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdown02">
            <li>
              <a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a>
            </li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li>
              <form action="{% url 'account_logout' %}" method="POST" id="logoutform" name="logoutform">
                {% csrf_token %}
              <button
                class="dropdown-item "
                type="submit"
                id="logoutbutton"
                style="margin-right: 5px"
              >
                Logout
              </button>
              </form>
            </li>
          </ul>
        </div>
        {% else %}
        <a
          class="btn btn-outline-success"
          type="submit"
          style="margin-right: 5px"
          href="{% url 'account_login' %}"
        >
          Login
        </a>
        <a class="btn btn-outline-success" href="{% url 'account_signup' %}">
          Register
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
</div>
