{% extends "__base__.html" %} {% load static %} {% block cssimport %}
<link rel="stylesheet" href=" {% static 'css/login.css' %} " />
{% load poll_extras %} {% endblock cssimport %} {% block content %}
<style>
  body {
    background-color: #e4e0dd;
  }
</style>
<style>
  .google {
    border: none;
    background-color: rgba(221, 75, 57, 0.85);
    color: white !important;
  }

  .google:hover {
    color: #fff !important;
    background-color: rgba(221, 75, 57, 1);
    opacity: 1;
  }
  .form-control {
    box-shadow: none;
    border-color: #ddd;
  }
  .form-control:focus {
    border-color: rgba(109, 100, 100, 0.404);
  }
  .login-form {
    width: 350px;
    margin: 0 auto;
    padding: 30px 0;
  }
  .login-form form {
    color: #434343;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #eeebdf;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .login-form h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .login-form .avatar {
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 9;
    background: rgba(109, 100, 100, 0.404);
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(109, 100, 100, 0.5);
  }
  .login-form .avatar i {
    font-size: 62px;
  }
  .login-form .form-group {
    margin-bottom: 20px;
  }
  .login-form .form-control,
  .login-form .btnc {
    min-height: 40px;
    border-radius: 2px;
    transition: all 0.5s;
  }
  .login-form .close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .login-form .btnc,
  .login-form .btnc:active {
    background: rgba(109, 100, 100, 0.404) !important;
    border: none;
    line-height: normal;
  }
  .login-form .btnc:hover,
  .login-form .btnc:focus {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  .login-form .checkbox-inline {
    float: left;
  }
  .login-form input[type="checkbox"] {
    position: relative;
    top: 2px;
  }
  .login-form .forgot-link {
    float: right;
  }
  .login-form .small {
    font-size: 13px;
  }
  .login-form a {
    color: rgba(109, 100, 100, 0.404);
  }
</style>
<section
  class="text-center"
  style="background-color: #e4e0dd; height: 100vh; margin-top: 10vh"
>
  <div class="login-form">
    <form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
      <h4 class="modal-title">Login to Your Account</h4>

      <!-- Error Toast Message -->

      {% if form.errors %}
      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div
          id="liveToast"
          class="toast hide"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <i class="material-icons" style="color: red">error</i>
            <strong class="me-auto">&nbsp;Login Errors</strong>
            <small>now</small>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body">
            <p>The username and/or password you specified are not correct.</p>
          </div>
        </div>
      </div>

      {% endif %}

      <!-- End Error Toast Message -->

      <!-- Username Field -->
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          name="login"
          required="required"
        />
      </div>
      <!-- End Username -->

      <!-- Password Field -->
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          autocomplete="current-password"
          required="required"
        />
      </div>
      <!-- End Password field  -->

      <!-- Start Remember me and Forget Password -->

      <div class="form-group small clearfix">
        <label class="form-check-label"
          ><input type="checkbox" name="remember" /> Remember me
        </label>
        <a href="#" class="forgot-link" style="color: rgba(0, 0, 0, 0.664)"
          >Forgot Password?</a
        >
      </div>

      <!-- End Remember me and Forget Password -->

      <!-- Submit Buttom -->
      <input
        type="submit"
        class="btnc btnc-primary btnc-block btnc-lg"
        value="Login"
      />
      <!-- End Submit Button -->

      <!-- start login with Google button -->

      <div>
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <a
          class="btn google"
          href="http://localhost:8000/accounts/google/login/?process=login"
          role="button"
          style="margin-top: 10px"
        >
          <i class="fa fa-google fa-fw"></i>
          Login with Google
        </a>
      </div>

      <!-- end login with Google button -->

    </form>

    <!-- End Form  -->

    <!-- Sign up link -->
    <div class="text-center small">
      Don't have an account?
      <a href="{% url 'account_signup' %}" style="color: rgba(0, 0, 0, 0.582)"
        >Sign up</a
      >
    </div>
    
    <!-- End Signup link -->

  </div>
</section>

<!-- Js imports -->
{% endblock content %} {% block jsimport %}
<script>
  $(".navbar").css("background", "#E8DBC3");
</script>
{% endblock jsimport %}

<!-- Js imports  -->